/*Schrijf hier jouw css*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: #F2F3D9;
}

/*////////////////////////
    2. Typography
////////////////////////*/

body {
    font-family: 'Poppins', 'Arial', sans-serif;
}

.body p {
    font-size: 15px;
}

.nav-bar a {
    font-family: 'Roboto', 'Arial', sans-serif;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.nav-bar-left a {
    text-transform: uppercase;
    font-weight: bold;
}

/*////////////////////////
    3. Areas
////////////////////////*/

/*///////////// 3.1 Header /////////////*/

/*///////////// 3.1.1 Header Navigation Bar /////////////*/

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #030027;
    flex-basis: 80px;
    align-items: center;
}

.nav-bar-left {
    display: flex;
    flex-direction: row;
}

.nav-bar nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-inline: 40px;
}
/*///////////// 3.1.2 Head Text /////////////*/

.head-text-container {
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    align-items: center;
    justify-content: center;
}

/*///////////// 3.2 Main Section /////////////*/

/*///////////// 3.2.1 Text Boxes /////////////*/

.text-boxes-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 350px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
    gap: 2em;
    padding-inline: 40px;
}

.text-box {
    display: flex;
    flex-direction: column-reverse;
    flex-basis: 280px;
    flex-grow: 0;
    flex-shrink: 1;
    padding: 15px;
    background-color: #C16E70;
}